nav {
    position: relative;
    display: flex;
    justify-content: space-between;
    background: rgb(223, 223, 223);
    color: #111;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;

    img {
        height: 100px;
        margin-left: 20px;
        border-radius: 18px;
    }

    h2 {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .menu-button {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-right: 20px;
        cursor: pointer;

        > * {
            width: 30px;
            height: 2px;
            background: #111;
            margin: 5px; 
            border-radius: 50px;
        }
    }
}